*{
    margin: 0;
    padding: 0;
    font-size: 16px;
}
ul{
    list-style: none;
}
ul li {
    position: relative;
    float: left;
    width: 80px;
}
a{
    display: block;
    height: 30px;
    line-height: 30px;
    text-decoration: none;
    text-align: center;
}
ul li a:only-child{
    background: none;
}
ul li:hover > ul {
    display: block;
}
ul ul {
    position: absolute;
    top: 100%;
    list-style: none;
    display: none;
    background-color: rgba(255, 165, 53, 0.85);
}
ul ul ul {
    position: absolute;
    left: 100%;
    top: 0;
    background-color: black;
    color: white;
}

